<div class="container" *ngIf="viewFormAdd">
  <div class="row">
    <input type="text" placeholder="Nombre" #name>
    <input type="text" placeholder="Tipo" #type>
    <button class="btn btn-success" (click)="saveSerie(name.value, type.value)" value="Añadir">Añadir</button>
  </div>
</div>


<div class="container" *ngIf="!viewFormAdd">
  <div class="container content">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8">
        <h4>Nombre</h4>
        <input type="text" value="{{serie.name}}" #name2>
        <h4>Tipo</h4>
        <input type="text" value="{{serie.type}}" #type2>
      </div>
      <br>
      <button type="button" (click)="updateSerie(name2.value, type2.value)">Guardar</button>
      <button type="button" (click)="deleteSerie()">Borrar</button>
    </div>
  </div>
</div>
